*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.btn:active{
    transform: scale(0.98);
}

.main-container{
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

.animate {
    animation: come 2s ease-in;
}

@keyframes come {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

.animate1 {
    animation: come1 1s ease-in;
}

@keyframes come1 {
    from {
        transform: scaleX(-1);
    }
    to {
        transform: scaleX(1);
    }
}

.animate2 {
    animation: come 0.5s ease-in;
}


.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.fa-google {
    margin-right: 20px;
}
